### Value at Risk (VaR) Model
VaR is a statistical measure that quantifies the potential loss in value of a portfolio over a defined period for a given confidence interval.

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

def calculate_var(returns, confidence_level=0.95):
    return np.percentile(returns, (1 - confidence_level) * 100)

# Fetch historical stock data
ticker = "AAPL"
data = yf.download(ticker, start="2020-01-01", end="2023-12-31")

# Calculate daily returns
returns = data['Adj Close'].pct_change().dropna()

# Calculate VaR
var_95 = calculate_var(returns, 0.95)
print(f"95% VaR for {ticker}: {var_95:.2%}")

[*********************100%%**********************]  1 of 1 completed

95% VaR for AAPL: -3.24%

In [1]:
import pandas as pd

In [2]:
data = pd.read_clipboard()

In [3]:
data

,Initial Rating,Aaa,Aa,A,Baa,Ba,B,Caa,Ca-C,DF
0,Aaa,90.42,8.92,0.62,0.01,0.03,0.00,0.00,0.00,0.00
1,Aa,1.02,90.12,8.38,0.38,0.05,0.02,0.01,0.00,0.02
2,A,0.06,2.82,90.88,5.52,0.51,0.11,0.03,0.01,0.06
3,Baa,0.05,0.19,4.79,89.41,4.35,0.82,0.18,0.02,0.19
4,Ba,0.01,0.06,0.41,6.22,83.43,7.97,0.59,0.09,1.22
5,B,0.01,0.04,0.14,0.38,5.32,82.19,6.45,0.74,4.73
6,Caa,0.00,0.02,0.02,0.16,0.53,9.41,68.43,4.67,16.76
7,Ca-C,0.00,0.00,0.00,0.00,0.39,2.85,10.66,43.54,42.56

In [4]:
data.to_dict()

{'Initial Rating': {0: 'Aaa',
  1: 'Aa',
  2: 'A',
  3: 'Baa',
  4: 'Ba',
  5: 'B',
  6: 'Caa',
  7: 'Ca-C'},
 'Aaa': {0: 90.42,
  1: 1.02,
  2: 0.06,
  3: 0.05,
  4: 0.01,
  5: 0.01,
  6: 0.0,
  7: 0.0},
 'Aa': {0: 8.92,
  1: 90.12,
  2: 2.82,
  3: 0.19,
  4: 0.06,
  5: 0.04,
  6: 0.02,
  7: 0.0},
 'A': {0: 0.62, 1: 8.38, 2: 90.88, 3: 4.79, 4: 0.41, 5: 0.14, 6: 0.02, 7: 0.0},
 'Baa': {0: 0.01,
  1: 0.38,
  2: 5.52,
  3: 89.41,
  4: 6.22,
  5: 0.38,
  6: 0.16,
  7: 0.0},
 'Ba': {0: 0.03,
  1: 0.05,
  2: 0.51,
  3: 4.35,
  4: 83.43,
  5: 5.32,
  6: 0.53,
  7: 0.39},
 'B': {0: 0.0, 1: 0.02, 2: 0.11, 3: 0.82, 4: 7.97, 5: 82.19, 6: 9.41, 7: 2.85},
 'Caa': {0: 0.0,
  1: 0.01,
  2: 0.03,
  3: 0.18,
  4: 0.59,
  5: 6.45,
  6: 68.43,
  7: 10.66},
 'Ca-C': {0: 0.0,
  1: 0.0,
  2: 0.01,
  3: 0.02,
  4: 0.09,
  5: 0.74,
  6: 4.67,
  7: 43.54},
 'DF': {0: 0.0,
  1: 0.02,
  2: 0.06,
  3: 0.19,
  4: 1.22,
  5: 4.73,
  6: 16.76,
  7: 42.56}}